In [1]:
list_id01 = '4f3452ae-87d4-4a5f-9532-c7634da2cff0'
list_id02 = '70e6c800-7583-485d-ac9f-9c42c48dd785'
list_id03 = '42d5c4ad-7b44-4e4e-b2e5-2997785132c8'

list_id13 = '93cd33c4-109a-401e-87e9-e26ff5929d37'
list_id14 = 'c4d09d1b-73a5-45c6-8a0d-ead669114b65'
list_id15 = '1551e3ed-c875-4bb3-8e4e-58407df40776'

In [2]:
import sqlalchemy
from sqlalchemy import create_engine
from sqlalchemy import text
from sqlalchemy import bindparam
import pandas as pd

In [3]:
def pegar_classes(ano):
    engine = create_engine('mysql+pymysql://root:admin@localhost:3306/lop2teste')
    con = engine.connect()
    query = text("SELECT * FROM lop2teste.class where year = :ano and year < 2024").bindparams(ano = ano)
    classes = pd.read_sql(query,con)
    con.close()
    return classes

In [4]:
classes_totais = pegar_classes('2022')
#pegando apenas as classes de 2022 até 2023.2

In [5]:
def pegar_lista_classe(lista):
    engine = create_engine('mysql+pymysql://root:admin@localhost:3306/lop2teste')
    con = engine.connect()
    query = text("SELECT * FROM lop2teste.classhaslistquestion where list_id = :lista").bindparams(lista = lista)
    listas = pd.read_sql(query,con)
    con.close()
    return listas

In [6]:
classe_lista01 = pegar_lista_classe(list_id01)
classe_lista02 = pegar_lista_classe(list_id02)
classe_lista15 = pegar_lista_classe(list_id15)
#pegando a lista por classe

In [7]:
#pegando apenas as turmas que fizeram a primeira, segunda e ultima lista
classes_uteis = []
for i in range(len(classes_totais.id.unique())):
    if classes_totais.id.unique()[i] in classe_lista01.class_id.unique() and classes_totais.id.unique()[i] in classe_lista02.class_id.unique() and classes_totais.id.unique()[i] in classe_lista15.class_id.unique():
        classes_uteis.append(classes_totais.id.unique()[i])

In [8]:
classes_uteis
#Classes entre de 2022.1 a 2023.2

['00ec3404-1d29-40d4-b39c-02ba665c2643',
 '09a04bfb-2d22-4009-a087-e29bd994207d',
 '521e7bd8-9d70-484b-8dd9-47cc39592a9a',
 '802f3e83-4cdd-42ac-a75e-10c4b392fe8d',
 '86e0792a-87df-4db4-9040-bc94ef539825',
 '97cd7873-2476-4293-aae5-1cafd8c21bee',
 'c30957cc-6ff4-4787-8fbd-498ad7d4f7e3',
 'e00bbc45-2ae4-488e-bb4f-80aa7889bb52',
 'ea81c388-b19c-47c1-94fc-80748f49e3ab']

In [9]:
def pegar_alunos_classe(id_classe):
    engine = create_engine('mysql+pymysql://root:admin@localhost:3306/lop2teste')
    con = engine.connect()
    query = text("SELECT * FROM lop2teste.classhasuser where class_id = :id_classe").bindparams(id_classe = id_classe)
    alunos = pd.read_sql(query,con)
    con.close()
    return alunos
# Essa função retorna os alunos de uma classe

In [10]:
def submissoes_alunos(id_estudante,id_lista,id_classe):
    engine = create_engine('mysql+pymysql://root:admin@localhost:3306/lop2teste')
    con = engine.connect()
    query = text("SELECT * FROM Submissionstats WHERE listQuestions_id = :id_list_question AND class_id = :id_class AND user_id = :id_aluno").bindparams(id_list_question = id_lista,id_class = id_classe,id_aluno = id_estudante)
    submissoes_alunos = pd.read_sql(query,con)
    con.close()
    return submissoes_alunos
# Essa função retorna as submissões de um aluno, de uma classe e uma lista específica

In [11]:
def questoes(id_lista):
    engine = create_engine('mysql+pymysql://root:admin@localhost:3306/lop2teste')
    con = engine.connect()
    query = text("SELECT * from listhasquestion where list_id = :list_id").bindparams(list_id = id_lista)
    questoes = pd.read_sql(query,con)
    con.close()
    return questoes
# Essa função retorna as questões da lista, para mais na frente ser usado como termo de comparação para a quantidade de questões
# da lista

In [12]:
def submissoes_totais(id_classe,id_lista):
    engine = create_engine('mysql+pymysql://root:admin@localhost:3306/lop2teste')
    con = engine.connect()
    query = text("SELECT * FROM Submissionstats WHERE listQuestions_id = :id_list_question AND class_id = :id_class").bindparams(id_list_question = id_lista,id_class = id_classe)
    submissoes_totais = pd.read_sql(query,con)
    con.close()
    return submissoes_totais
# Essa função retorna as submissões totais de uma classe em uma lista específica

In [22]:
tabela_metricas = pd.DataFrame(columns = ['id_user','class_id','enrollment','submissions_list01','QuestionsList_list01','HitsCorrects_list01','submissions_mean_list01','wrong_list01','partially_wrong_list01',
           'Submissions_Corrects_list01','TimeAll_list01','TimeMean_list01','TimeSD_list01','Percentage_hit_list01','submitted_list01','submissions_list02','QuestionsList_list02','HitsCorrects_list02','submissions_mean_list02','wrong_list02','partially_wrong_list02',
           'Submissions_Corrects_list02','TimeAll_list02','TimeMean_list02','TimeSD_list02','Percentage_hit_list02','submitted_list02','submissions_list03','QuestionsList_list03','HitsCorrects_list03','submissions_mean_list03','wrong_list03','partially_wrong_list03',
           'Submissions_Corrects_list03','TimeAll_list03','TimeMean_list03','TimeSD_list03','Percentage_hit_list03','submitted_list03','submitted_list13','submitted_list14','submitted_list15'])
# Montando o dataFrame com as colunas das listas

In [18]:
# Essa função recebe um dataFrame contendo as submissões de um aluno em uma lista específica, e a quantidade de questões de uma lista
# Ela retorna uma lista com todos os parâmetros usados no dataFrame calculados para essa lista
def dados_alunos(aluno,questoes_lista):
    if aluno.id.nunique() == 0:
        submissao = 0
        numero_de_questoes = questoes_lista
        acertos = 0
        media_submissoes = 0
        totalmente_erradas = 0
        parcialmente_erradas = 0
        totalmente_certas = 0
        tempo_total_gasto = 0
        tempo_medio_gasto = 0
        tempo_desvio_padrao = 0
        percentual_questoes_certas = 0
        submeteu = 0 
    else:
        submissao = aluno.id.nunique()
        numero_de_questoes = questoes_lista
        acertos = aluno.nlargest(questoes_lista, ['hitPercentage']).id.nunique()
        media_submissoes = aluno.hitPercentage.mean()
        totalmente_erradas = aluno.query('hitPercentage == 0').id.nunique()
        parcialmente_erradas = aluno.query('hitPercentage > 0 and hitPercentage < 100').id.nunique()
        totalmente_certas = aluno.query('hitPercentage == 100').id.nunique()
        tempo_total_gasto = aluno.timeConsuming.sum()
        tempo_medio_gasto = aluno.timeConsuming.mean()
        tempo_desvio_padrao = aluno.timeConsuming.std()
        percentual_questoes_certas = ((acertos*100)/numero_de_questoes)
        submeteu = 1
    
    return [submissao,numero_de_questoes,acertos,media_submissoes,totalmente_erradas,parcialmente_erradas,
           totalmente_certas,tempo_total_gasto,tempo_medio_gasto,tempo_desvio_padrao,percentual_questoes_certas,submeteu]

In [19]:
cont = 0
# Aqui utilizo todas as funções para montar a tabela
for i in range(len(classes_uteis)):
    alunos = pegar_alunos_classe(classes_uteis[i])
    questoes_lista01 = questoes(list_id01)
    questoes_lista02 = questoes(list_id02)
    questoes_lista03 = questoes(list_id03)
    
    questoes_lista13 = questoes(list_id13)
    questoes_lista14 = questoes(list_id14)
    questoes_lista15 = questoes(list_id15)
    
    submissoes_lista01 = submissoes_totais(classes_uteis[i],list_id01)
    submissoes_lista02 = submissoes_totais(classes_uteis[i],list_id02)
    submissoes_lista03 = submissoes_totais(classes_uteis[i],list_id03)
    
    submissoes_lista13 = submissoes_totais(classes_uteis[i],list_id13)
    submissoes_lista14 = submissoes_totais(classes_uteis[i],list_id14)
    submissoes_lista15 = submissoes_totais(classes_uteis[i],list_id15)
    for j in range(len(alunos.id.unique())):
        #if alunos.user_id.unique()[j] not in submissoes_lista01.user_id.unique() and alunos.user_id().unique()[j] not in submissoes_lista02.user_id.unique():
        #    metricas = [alunos.user_id.unique()[j],alunos.class_id.unique()[i],alunos.enrollment.unique()[j],0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0]
        #else:
        lista01 = submissoes_alunos(alunos.loc[j].user_id,list_id01,classes_uteis[i])
        lista02 = submissoes_alunos(alunos.loc[j].user_id,list_id02,classes_uteis[i])
        lista03 = submissoes_alunos(alunos.loc[j].user_id,list_id03,classes_uteis[i])
        
        lista13 = submissoes_alunos(alunos.loc[j].user_id,list_id13,classes_uteis[i])
        lista14 = submissoes_alunos(alunos.loc[j].user_id,list_id14,classes_uteis[i])
        lista15 = submissoes_alunos(alunos.loc[j].user_id,list_id15,classes_uteis[i])
        
        dados_lista01 = dados_alunos(lista01,questoes_lista01.id.nunique())
        dados_lista02 = dados_alunos(lista02,questoes_lista02.id.nunique())
        dados_lista03 = dados_alunos(lista03,questoes_lista03.id.nunique())
        
        dados_lista13 = dados_alunos(lista13,questoes_lista13.id.nunique())
        dados_lista14 = dados_alunos(lista14,questoes_lista14.id.nunique())
        dados_lista15 = dados_alunos(lista15,questoes_lista15.id.nunique())
        metricas = [alunos.loc[j].user_id,alunos.loc[j].class_id,alunos.loc[j].enrollment]
        for n in range(len(dados_lista01)):
            metricas.append(dados_lista01[n])
        for n in range(len(dados_lista02)):
            metricas.append(dados_lista02[n])
        for n in range(len(dados_lista03)):
            metricas.append(dados_lista03[n])
            
        metricas.append(dados_lista13[11])
        metricas.append(dados_lista14[11])
        metricas.append(dados_lista15[11])
        tabela_metricas.loc[cont] = metricas
        cont += 1
tabela_metricas

,id_user,class_id,enrollment,submissions_list01,QuestionsList_list01,HitsCorrects_list01,submissions_mean_list01,wrong_list01,partially_wrong_list01,Submissions_Corrects_list01,...,partially_wrong_list03,Submissions_Corrects_list03,TimeAll_list03,TimeMean_list03,TimeSD_list03,Percentage_hit_list03,submitted_list03,submitted_list13,submitted_list14,submitted_list15
0,b98d71d4-ed29-49fc-b811-4169f798b528,00ec3404-1d29-40d4-b39c-02ba665c2643,20220027671,5,5,5,100.0,0,0,5,...,0,12,13421235,1.118436e+06,1.021137e+06,100.000000,1,1,1,1
1,a07240ad-283a-442b-8a7a-8845d60b8fcf,00ec3404-1d29-40d4-b39c-02ba665c2643,20220032395,5,5,5,100.0,0,0,5,...,0,12,13458413,1.121534e+06,7.043418e+05,100.000000,1,1,1,1
2,f6409d69-e5f7-4713-bb35-bb9028099638,00ec3404-1d29-40d4-b39c-02ba665c2643,20200010274,5,5,5,100.0,0,0,5,...,0,12,3456617,2.880514e+05,1.815901e+05,100.000000,1,1,1,1
3,a1f0ffc7-6163-4dad-b0c1-f4596fb09665,00ec3404-1d29-40d4-b39c-02ba665c2643,20200114537,5,5,5,100.0,0,0,5,...,0,12,23189014,1.932418e+06,1.539915e+06,100.000000,1,1,0,0
4,12360d4b-0980-465b-ab2d-99f5c755b373,00ec3404-1d29-40d4-b39c-02ba665c2643,20220013110,5,5,5,100.0,0,0,5,...,0,12,3855176,3.212647e+05,2.427628e+05,100.000000,1,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
874,95891fad-3ce1-48b6-bc48-e753f45b2a61,ea81c388-b19c-47c1-94fc-80748f49e3ab,20210017958,4,5,4,100.0,0,0,4,...,0,4,1907113,4.767782e+05,2.134849e+05,33.333333,1,1,1,1
875,83a836e3-2642-4aec-a0ab-4dede7cf297b,ea81c388-b19c-47c1-94fc-80748f49e3ab,20200083646,5,5,5,100.0,0,0,5,...,0,12,41097951,3.424829e+06,5.242537e+06,100.000000,1,0,0,0
876,64cc3d23-34d1-4460-a397-3048544a4f3c,ea81c388-b19c-47c1-94fc-80748f49e3ab,20220057984,5,5,5,100.0,0,0,5,...,0,12,8921181,7.434318e+05,5.760098e+05,100.000000,1,1,1,1
877,48b8b53e-9516-450d-b4a6-b19ca8f2947d,ea81c388-b19c-47c1-94fc-80748f49e3ab,20220057035,4,5,4,75.0,1,0,3,...,0,0,0,0.000000e+00,0.000000e+00,0.000000,0,0,0,0
878,9bb83fa4-72bb-42f4-b0b4-9cb97bc156be,ea81c388-b19c-47c1-94fc-80748f49e3ab,20200122270,2,5,2,50.0,1,0,1,...,0,0,0,0.000000e+00,0.000000e+00,0.000000,0,0,0,0

In [20]:
tabela_metricas.isnull().sum()

id_user                         0
class_id                        0
enrollment                     16
submissions_list01              0
QuestionsList_list01            0
HitsCorrects_list01             0
submissions_mean_list01         0
wrong_list01                    0
partially_wrong_list01          0
Submissions_Corrects_list01     0
TimeAll_list01                  0
TimeMean_list01                 0
TimeSD_list01                  21
Percentage_hit_list01           0
submitted_list01                0
submissions_list02              0
QuestionsList_list02            0
HitsCorrects_list02             0
submissions_mean_list02         0
wrong_list02                    0
partially_wrong_list02          0
Submissions_Corrects_list02     0
TimeAll_list02                  0
TimeMean_list02                 0
TimeSD_list02                  12
Percentage_hit_list02           0
submitted_list02                0
submissions_list03              0
QuestionsList_list03            0
HitsCorrects_list03             0
submissions_mean_list03         0
wrong_list03                    0
partially_wrong_list03          0
Submissions_Corrects_list03     0
TimeAll_list03                  0
TimeMean_list03                 0
TimeSD_list03                  17
Percentage_hit_list03           0
submitted_list03                0
submitted_list13                0
submitted_list14                0
submitted_list15                0
dtype: int64

In [21]:
tabela_metricas.to_csv('tabela_lista01_02_03_lista13_14_15.csv',index = False,sep = ',')